{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <br>
 <div class="row">
        <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluit">
        </div>
        <div class="col-md-8">
            <h3>{{ product.title }}</h3>
            <p>Цена: {{ product.price }}</p>
            <p>Описание: {{ product.discription }}</p>
            <hr>
            <a href="#"><button class="btn btn-danger">Добавит в корзину</button></a>
        </div>
    </div>
    <br>
    <p>Характеристики:</p>
<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
   <tr>
      <td>Дисплей</td>
      <td>{{ product.display_type }}</td>
    </tr>
     <tr>
      <td>Процессор</td>
      <td>{{ product.processor_freq }}</td>
    </tr>
     <tr>
      <td>Оперативная память</td>
      <td>{{ product.ram}}</td>
    </tr>
     <tr>
      <td>Батарея</td>
      <td>{{ product.time_without_charge }}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
  </tbody><br>
</table>
{% endblock content %}

